---
import Project from "./Project.astro"
import type { CollectionEntry } from "astro:content";

const {projects, gridSize} = Astro.props;
---

<div class=`grid gap-3 ${gridSize}`>
  {projects.map((project: CollectionEntry<'projects'>) => <Project project={project}/>)}
</div>
