---
import Project from "./Project.astro"
import { topProjects } from "../../store/projects"

const projects = topProjects.get()
---

<div class="grid grid-cols-3 gap-3">
  {projects.map(project => <Project project={project.data} />)}
</div>
