---
import Project from "../Cards/Project.astro"
---

<div class="grid grid-cols-3 gap-3">
  <Project 
    repo="https://github.com/luke-hays/portfolio-site"
    title="lukehays.com"
  >
    Source code for this website.
  </Project>
</div>
