---
---

<div>
  I'm a software engineer with over 5 years of experience specializing in web development, particular front end UI's. Still a WIP, need to go find some old "under construction" gifs.
</div>