
<nav>
  <ul class="flex gap-2 justify-center text-ash hover:text-alabaster text-sm">
    <li>
      <a href="https://github.com/luke-hays" target="_blank" rel='noopener noreferrer'>Github</a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/luke-hays64/" target="_blank" rel='noopener noreferrer'>LinkedIn</a>
    </li>
  </ul>
</nav>