---
const {route, text, isExternal} = Astro.props;

const target = isExternal ? '_blank' : '_self'
const rel = isExternal ? 'noopener noreferrer' : undefined
---

<a 
  class="
    px-2 
    py-1 
    rounded 
    border-2 
    active:scale-[.97] 
    transition 
    ease-in-out" 
  href={route}
  target={target}
  rel={rel}
>
  {text}
</a>