---
import SiteNavLink from "./SiteNavLink.astro"
---

<nav class="flex gap-3 justify-end w-full">
  <SiteNavLink route="/" text="Home"/>
  <SiteNavLink route="/portfolio/" text="Portfolio"/>
  <SiteNavLink route="/resume/" text="Resume"/>
  <SiteNavLink route="/blog/" text="Blog"/>
  <SiteNavLink route="/" text="LinkedIn"/>
  <SiteNavLink route="/" text="GitHub"/>
</nav>
