---
---

<nav class="flex gap-3 justify-end w-full">
  <a href="/">Home</a>
  <a href="/portfolio/">Portfolio</a>
  <a href="/resume/">Resume</a>
  <a href="/blog/">Blog</a>
  <a href="#">LinkedIn</a>
  <a href="#">GitHub</a>
</nav>
