---
import SiteNavLink from "./SiteNavLink.astro"
---

<nav>
  <ul id="nav-menu" class="flex gap-2 md:gap-3 justify-end">
    <li><SiteNavLink route="/" text="Home"/></li>
    <li><SiteNavLink route="/portfolio/" text="Portfolio"/></li>
    <li><SiteNavLink route="/resume/" text="Resume"/></li>
    <li><SiteNavLink route="/blog/" text="Blog"/></li>
    <li class="hidden md:block"><SiteNavLink route="https://github.com/luke-hays" text="GitHub" isExternal/></li>
  </ul>
</nav>
