---
import SiteNavLink from "./SiteNavLink.astro"
---

<nav class="flex gap-3 justify-end">
  <SiteNavLink route="/" text="Home"/>
  <SiteNavLink route="/portfolio/" text="Portfolio"/>
  <SiteNavLink route="/resume/" text="Resume"/>
  <SiteNavLink route="/blog/" text="Blog"/>
  <SiteNavLink route="https://www.linkedin.com/in/luke-hays64/" text="LinkedIn" isExternal/>
  <SiteNavLink route="https://github.com/luke-hays" text="GitHub" isExternal/>
</nav>
