---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<main>
		<div class="flex flex-col gap-10">
			<div class="flex flex-col">
				<h1>Luke Hays</h1>
				I'm a software engineer with over 5 years of experience specializing in web development, particular front end UI's. Still a WIP, need to go find some old "under construction" gifs.
			</div>
			<div class="flex flex-col">
				<h2>Portfolio</h2>
				<p class="text-red-500">
					IN PROGRESS
				</p>
			</div>
			<div class="flex flex-col">
				<h2>Latest Posts</h2>
				<p class="text-red-500">
					IN PROGRESS
				</p>
			</div>
	</div>
	</main>
</Layout>
