---
import Layout from '../layouts/Layout.astro';
import LatestPosts from '../components/Blog/LatestPosts.astro';
import Projects from '../components/Portfolio/Projects.astro';
import {topProjects} from '../store/projects';
---

<Layout>
	<div class="flex flex-col gap-5 md:gap-10">
		<div class="flex flex-col gap-4">
			<h1 class="mt-2">Luke Hays</h1>
			<div class="flex gap-2 items-center">
				<p>
					I am a software engineer with over five years of experience specializing in building responsive front-end user interfaces using React. 
					Recently, I've decided to push the limits of my own programming knowledge. 
					This website serves as an overengineered note repository, motivating me to continuously learn and share insights on various programming-related topics.
				</p>
				<img class="w-40" alt="" src="/glitch.png"/>
			</div>
		</div>
		<div class="flex flex-col gap-4">
			<h2>Projects</h2>
			<Projects projects={topProjects.get()} gridSize="md:grid-cols-3"/>
		</div>
		<div class="flex flex-col gap-4">
			<h2>Latest Posts</h2>
			<LatestPosts />
		</div>
	</div>
</Layout>
