---
import Layout from "../layouts/Layout.astro"
import Project from "../components/Cards/Project.astro"
import { allProjects } from "../store/projects";

const projects = allProjects.get()
---

<Layout>
  <h1>Projects</h1>
  <div class="grid grid-cols-3 gap-3">
    {projects.map(project => {
      const {source, description, title} = project.data
      return (
        <Project 
          repo={source}
          title={title}
        >
          {description}
        </Project>
      )
    })}
  </div>
</Layout>