---
import Layout from "../layouts/Layout.astro"
import Projects from "../components/Portfolio/Projects.astro";
import { allProjects } from "../store/projects";

const projects = allProjects.get()
---

<Layout>
  <h1>Projects</h1>
  <Projects projects={projects} gridSize="grid-cols-2"/>
</Layout>