---
import Layout from "../layouts/Layout.astro"
---

<Layout>
  <h1>Luke Hays</h1>
  <h2>Experience</h2>
  <p>Software Engineer, SingleStone Consulting</p>
  <p>Nov 2021 - Present</p>
  <ul>
    <li>Placeholder</li>
    <li>Placeholder</li>
    <li>Placeholder</li>
  </ul>
  <h2>Skills</h2>
  <p>Software Engineer, SingleStone Consulting</p>
  <p>Nov 2021 - Present</p>
  <ul>
    <li>Placeholder</li>
    <li>Placeholder</li>
    <li>Placeholder</li>
  </ul>
  <h2>Education</h2>
  <p>Software Engineer, SingleStone Consulting</p>
  <p>Nov 2021 - Present</p>
  <ul>
    <li>Placeholder</li>
    <li>Placeholder</li>
    <li>Placeholder</li>
  </ul>
  <h2>Certifications</h2>
  <ul>
    <li>Placeholder</li>
    <li>Placeholder</li>
    <li>Placeholder</li>
  </ul>
</Layout>