---
import LatestPost from "./LatestPost.astro"
import {posts} from '../../atoms/blogStore'

const topPosts = posts.get().slice(0, 5)
---

<div>
  <ul>
    {topPosts.map(post => (
      <LatestPost post={post}/>
    ))}
  </ul>
</div>