---
import PostListItem from './PostListItem.astro'
import {posts} from '../../atoms/blogStore'

const latestPosts = posts.get().slice(0, 5)
---

<div>
  <ul>
    {latestPosts.map(post => (
      <PostListItem post={post}/>
    ))}
  </ul>
</div>