---
const {post} = Astro.props

const formattedDate = post.publishDate.toLocaleString('default', { month: 'long', year: 'numeric' });
---

<li class="border-solid border-b-2 border-violet-800 last:border-b-0 py-2">
  <a href={`/posts/${post.slug}/`} class="flex justify-between [&>*:first-child]:hover:underline">
    <div>
      {post.title}
    </div>
    <div>
      {formattedDate}
    </div>
  </a>
</li>