---
import PostListItem from './PostListItem.astro';
import {latestPosts} from '../../store/posts';

const posts = latestPosts.get();
---

<div>
  <ul>
    {posts.map(post => {
      const formattedDate = post.publishDate.toLocaleString('default', { month: 'long', year: 'numeric' });
      return <PostListItem title={post.title} slug={post.slug} formattedDate={formattedDate} />;
    })}
  </ul>
</div>