---
const {title, slug, formattedDate} = Astro.props;
---

<li class="
    border-solid 
    border-b-2 
    last:border-b-0 
    text-ash 
    border-ash 
    hover:text-alabaster
    [&>a>*:first-child]:hover:underline
  "
>
  <a href={`/posts/${slug}/`} class="flex justify-between h-full py-2">
    <div>
      {title}
    </div>
    <div class="hidden md:flex">
      {formattedDate}
    </div>
  </a>
</li>