---
import SiteNav from '../components/Navigation/SiteNav.astro';
import ContactLinks from '../components/Navigation/ContactLinks.astro'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Luke Hays Portfolio" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Luke Hays</title>
	</head>
	<body class="bg-night text-white gap-10 w-80 md:w-[50rem] mx-auto my-9">
		<div class="flex flex-col h-screen mx-2">
			<header class="shrink-0">
				<SiteNav />
			</header>
			<main class="shrink-0 grow">
				<slot />
			</main>
			<footer class="shrink-0">
				<ContactLinks />
			</footer>
		</div>
	</body>
</html>
